absl-py==2.0.0
accelerate==0.26.1
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.2.0
anykeystore==0.2
apex==0.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
axial-positional
Babel==2.14.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitsandbytes==0.42.0
bleach==6.1.0
blinker==1.7.0
buildtools==1.0.6
cachetools==5.3.2
causal-conv1d==1.0.2
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.28.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.0
cryptacular==1.6.2
cycler==0.12.1
Cython==3.0.8
databricks-cli==0.18.0
DataProperty==1.0.1
datasets==2.17.0
deap==1.4.1
debugpy==1.8.0
decorator==5.1.1
deepspeed==0.12.6
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
distlib==0.3.8
distro==1.9.0
docker==6.1.3
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.4.0
entrypoints==0.4
enum-switch==0.1.0
evaluate==0.4.1
exceptiongroup==1.2.0
executing==2.0.1
fairseq==0.12.2
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.1
flatbuffers==23.5.26
fonttools==4.47.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.1.3
furl==2.1.3
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.60.1
gunicorn==21.2.0
h11==0.14.0
h5py==3.10.0
hjson==3.1.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.2
humanfriendly==10.0
hupper==1.12.1
hydra-core==1.0.7
hyperlink==21.0.0
hyperopt==0.2.7
identify==2.5.33
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
incremental==22.10.0
iopath==0.1.10
ipykernel==6.29.0
ipython==8.18.1
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonlines==4.0.0
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
lightgbm==4.3.0
lightning-utilities==0.10.1
lit==17.0.6
llvmlite==0.41.1
local-attention==1.4.4
loguru==0.7.2
lxml==5.1.0
Mako==1.3.0
mamba-ssm==1.0.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
mistune==3.0.2
ml-collections==0.1.1
ml-dtypes==0.2.0
mlflow==2.9.2
mmengine==0.10.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.8.0
notebook==7.0.7
notebook_shim==0.2.3
numba==0.58.1
numexpr==2.8.8
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.133
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
oauthlib==3.2.2
omegaconf==2.0.6
onnxruntime==1.17.0
openai==1.8.0
opencv-python==4.9.0.80
opt
orderedmultidict==1.0.1
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.3
PasteDeploy==3.1.0
pathvalidate==3.2.0
patool==1.12
pbkdf2==1.3
peft==0.7.1
pexpect==4.9.0
Pillow==10.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.1.0
plotly==5.18.0
portalocker==2.8.2
pre-commit==3.6.0
product-key-memory==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==3.20.0
psutil==5.9.7
ptyprocess==0.7.0
pure
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycountry==23.12.11
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyJWT==2.8.0
pynvml==11.5.0
pyparsing==3.1.1
pyramid==2.0.2
pyramid-mailer==0.15.1
pytablewriter==1.2.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
querystring-parser==1.2.4
ray==2.9.2
redo==2.0.4
referencing==0.33.0
reformer-pytorch==1.4.4
regex==2023.12.25
repoze.sendmail==4.4.1
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rouge-score==0.1.2
rpds-py==0.17.1
rsa==4.9
sacrebleu==1.5.0
sacremoses==0.1.1
safetensors==0.4.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==1.39.2
setproctitle==1.3.3
simplejson==3.19.2
six==1.16.0
sktime==0.16.1
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlitedict==2.1.0
sqlparse==0.4.4
stack-data==0.6.3
statopt==0.2
submitit==1.5.1
sympy==1.11.1
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
terminado==0.18.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
timm==0.9.12
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torch_geometric==2.4.0
torchmetrics==1.3.0.post0
torchsummary==1.5.1
torchview==0.2.6
torchvision==0.15.2
tornado==6.4
tqdm==4.64.1
tqdm-multiprocess==0.0.11
traitlets==5.14.1
transaction==4.0
transformers==4.28.0
translationstring==1.4
triton==2.0.0
Twisted==23.10.0
typepy==1.3.2
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
uri-template==1.3.0
urllib3==2.1.0
velruse==1.1.1
venusian==3.1.0
virtualenv==20.25.0
wandb==0.16.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.14.1
WTForms==3.1.2
wtforms-recaptcha==0.3.2
xxhash==3.4.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
zope.deprecation==5.0
zope.interface==6.1
zope.sqlalchemy==3.1
zstandard==0.22.0
